* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap;
  justify-content: space-between; */
  min-height: 100vh;
  /* width: 100%; */
}

body>* {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

:root {
  --mobile_nav_height: 50px;
}


/* 
-------------------------- 
--------- NAVBAR --------- 
--------------------------
*/

#main_nav {
  position: sticky;
  top: 0;
  background-color: #000;
  color: #fff;
  justify-content: space-between;
  padding: 0 1%;
  min-height: 50px;
}

header {
  display: none;
}

a {
  text-decoration: none;
  color: #aaa;
}

a:hover {
  color: #fff;
}

a:active {
  color: #272727;
}


/*--- DROPDOWN ---*/

.dropdown {
  flex-grow: 0;
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: 0px;
  max-height: fit-content;
}

.dropdown img {
  max-height: 50px;
  width: auto;
}

.dropdown a {
  color: #000;
  font-size: 12px;
  margin: 5px 0;
  flex: 1;
}

.dropdown a:hover {
  color: cornflowerblue;
}

.dropdown-content {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


/* --- DROPDOWN TARGETS ---*/

#mac:target {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#ipad:target {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* 
-------------------------- 
--- RESTO DE LA PÃGINA --- 
--------------------------
*/

main {
  flex-direction: column;
  align-items: stretch;
  flex-grow: 20;
}

main>* {
  flex-grow: 5;
}

footer {
  background-color: #814c21;
}

@media (max-width: 600px) {
  #main_nav {
    display: none;
  }
  header {
    display: block;
    max-height: var(--mobile_nav_height);
  }
  header div {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    min-height: var(--mobile_nav_height);
    padding: 0 5%;
    align-items: center;
  }
  #main_nav_mobile nav {
    display: none;
    width: 40%;
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .dropdown {
    padding-left: 5%;
  }
  .dropdown a {
    color: white;
    width: 100%;
    padding: 5% 0;
    text-align: left;
  }
  .dropdown>*:not(:first-child) {
    border-top: solid 1px rgb(70, 70, 70);
  }
  #main_nav_mobile:target nav {
    display: flex;
  }
  .open {
    display: block;
  }
  .close {
    display: none;
  }
  #main_nav_mobile:target .open {
    display: none;
  }
  #main_nav_mobile:target .close {
    display: block;
  }
}