#calendar {
  display: flex;
  flex-direction: row;
  margin: 1%;
}

.day {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* makes all items the same width */
  flex: 1 1 0px;
}

.day:not(:last-child) {
  border-right: 1px solid var(--grey-1)
}

.day header {
  background-color: rgb(255, 255, 255);
  border-bottom: solid var(--grey-2) 2px;
  padding: 5% 0;
  font-size: 80%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.hour {
  display: flex;
  flex-direction: row;
  padding: 5%;
  --hour-border-style: solid var(--grey-1) 1px;
  font-size: 90%;
}

.hour> :first-child {
  padding-right: 5%;
  /* border-right: var(--hour-border-style); */
  font-style: italic;
}

.hour:not(:last-child) {
  border-bottom: var(--hour-border-style);
}

.hour> :first-child {
  min-width: max-content;
}

.hour>* {
  margin: auto;
}

.hour:hover {
  background-color: #aaa;
}

@media (max-width: 600px) {
  .day {
    min-width: 100px;
  }
}