* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
}

main {
  display: flex;
}

#content {
  display: flex;
  flex-direction: column;
}

#content section {
  display: flex;
}

#content img {
  width: auto;
  max-height: 200px;
}