html, body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body > *{
  flex: .5;

  display: flex;
  margin: 0.5% 1%;

  justify-content: center;
  align-items: center;
  text-align: center;
}

header{
  background-color: #428cc9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header > * {
  flex:1;
}
header h1{
  flex-grow: 8;
}
header img{
  width: 100%;
}

nav{
  background-color: #dfc329;
}

main{
  flex-direction: row;
  flex-grow: 6;
  margin: 0 0.5%;
}
main > *{
  height: 100%;
  margin: 0.5% 0.5%;
}
main section{
  background-color: #70d451;
  width: 80%;
}
main aside{
  background-color: #818181;
  width: 20%;
}

footer{
  background-color: #814c21;
}