* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

body>* {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* CLASSES */

.title {
  text-align: center;
  font-size: 2em;
  color: #3f3f3f;
}

.brown {
  color: #ad7731
}

.granate {
  background-color: rgba(136, 17, 17, 1);
}


/* MAIN HEADER*/

#mainHeader {
  background: linear-gradient(180deg, rgba(177, 18, 18, 1) 0%, rgba(136, 17, 17, 1) 100%);
  height: 120px;
  margin-bottom: 40px;
  width: 100%;
}

#mainHeader img {
  display: block;
  margin: auto;
}


/* MAIN NAV MENU */

#searchMenu {
  max-width: 100%;
  margin: 20px 0;
  font-size: 1.5em;
}

#searchMenu a {
  text-transform: uppercase;
  color: #272727;
}

#searchMenu a:hover {
  text-decoration: underline;
  font-weight: bold;
}

#searchMenu ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

#searchMenu li {
  margin: 0 20px;
}

main {
  flex-grow: 20;
}


/* ARTÍCULOS HOME */

#artículosHome {
  display: flex;
  margin: auto;
  justify-content: center;
  margin: 75px 0 25px 0;
}

#artículosHome article {
  width: 33%;
}

#artículosHome h3 {
  text-align: center;
  max-width: 80%;
  margin: auto;
  margin-top: 15px;
}

#artículosHome img {
  display: flex;
  margin: auto;
}


/* RECETA */

#receta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5% 5% 5%;
}

#receta header {
  width: 100%;
}

#receta img,
#detalles {
  width: 49%;
  height: auto;
  margin: 0%;
}

#detalles>* {
  margin-bottom: 4%;
}

#detalles strong {
  color: #3f3f3f;
}

#detalles ul {
  margin-left: 5%;
}

#receta h2 {
  font-size: 200%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  border-bottom: 3px solid rgba(177, 18, 18, 1);
}

#detalles header {
  color: #272727
}


/* MAIN FOOTER*/

#mainFooter {
  min-height: 100px;
  width: 100%;
}

#mainFooter a {
  display: table;
  color: white;
}

#recetasHalloween {
  background-color: #151515;
  height: 75px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainFooter a:hover {
  font-size: 1.3em;
}

#recetasPostres {
  margin: 50px auto;
  padding: 10px 20px;
  background-color: rgba(136, 17, 17, 1);
  border-radius: 20px;
}

#receta-footer-movil {
  display: none;
}

@media (max-width: 600px) {
  #mainHeader {
    order: 1;
  }
  #searchMenu {
    order: 2;
  }
  main {
    order: 4;
  }
  #mainFooter {
    order: 3;
  }
  #searchMenu {
    margin: 0 0;
  }
  #searchMenu ul {
    flex-direction: column;
    align-items: center;
    font-size: 70%;
  }
  body>* {
    flex-grow: inherit;
    justify-content: center;
  }
  main {
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  main section:first-child img {
    display: none;
  }
  main section:first-child {
    margin: 1% 0;
  }
  main section:first-child h1 {
    background-color: brown;
    color: white;
    font-size: 120%;
  }
  #artículosHome {
    flex-direction: column;
    margin: 1% 1%;
  }
  #artículosHome>* {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin: 1% 0;
  }
  #artículosHome article>* {
    margin: 0 2%;
  }
  #artículosHome img {
    width: 25%;
  }
  #artículosHome h3 {
    font-size: 100%;
    width: 75%;
  }
  #receta {
    flex-direction: column;
  }
  #receta h1 {
    font-size: 130%;
  }
  #receta>* {
    width: 100% !important;
    margin: 3% 0
  }
  #detalles>* {
    margin-bottom: 6%;
  }
  #detalles header {
    margin-bottom: 2%;
  }
  #mainFooter> :first-child {
    display: none;
  }
  #mainFooter a {
    margin: 5% auto;
  }
  #receta-footer-movil {
    display: flex;
    order: 4;
  }
  #receta-footer-movil>* {
    align-self: center;
  }
  #receta-footer-movil :first-child {
    max-width: 40% !important;
    margin-bottom: -5%;
  }
  .hideOnMobile {
    display: none;
  }
}