* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100vh;
  background-color: black;
  color: white;
}

body {
  margin: 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* FLEX */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row>*,
.flex-column>* {
  flex: 1;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex-4 {
  flex: 4;
}


/* COLORES */

.azul {
  color: rgb(31, 94, 212);
}

.rojo {
  color: rgb(212, 31, 31);
}

.plata {
  color: rgb(116, 116, 116);
}

.negro {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.blacked {
  filter: contrast(140%);
}

.bold {
  font-weight: bold;
}


/* TEXTO */

.subtext {
  font-size: small;
  text-align: end;
}

.text-small {
  font-size: small;
}

.underline {
  text-decoration: underline;
}


/* MAIN */

main {
  display: flex;
  flex-direction: row;
}

main section {
  flex: 2;
}

main section h2 {
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
}

main img {
  width: 100%;
  height: auto;
}

main aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

main aside img:first-of-type {
  width: auto;
  height: 90%;
}


/* FORM */

form {
  margin: 5% 0;
}

form>* {
  margin-top: 10px;
}

form img {
  width: 100%;
  height: auto;
}


/* OPCIONES */

#opciones {
  display: flex;
  flex-wrap: wrap;
}

#opciones label {
  margin-top: 10px;
  width: 30%;
  display: block;
  text-align: center;
  align-self: center;
  font-weight: bold;
  font-size: 1.5em;
}

#opciones input {
  margin-top: 10px;
  width: 70%;
}

input[type=text] {
  padding: 0;
  background: white;
  border: 0 none;
  border-radius: 0px;
  font-size: 150%;
  color: black;
}


/* DINERO */

#dinero {
  overflow: hidden;
  max-height: 50px;
  padding: 2%;
}

#dinero fieldset {
  flex: 2;
}

#dinero h3 {
  width: fit-content;
  padding: 5px 10px;
  margin: -15px 0 0 5px;
  background-color: black;
}

#dinero img {
  align-self: center;
}


/* COLORES */

#colores span {
  font-weight: bold;
}

input[type=submit] {
  padding: 3%;
  background: #ccc;
  border: 0 none;
  border-radius: 0px;
  font-size: 150%;
  color: white;
  cursor: pointer;
}


/* FOOTER */

footer {
  background-color: white;
  color: black;
}

footer h3 {
  text-align: center;
}

footer li {
  font-size: 0.8em;
  font-weight: bold;
}

footer img {
  display: none;
}


/* PHONES */

@media (max-width: 600px) {
  body {
    margin: 0;
    justify-content: space-between;
  }
  main aside {
    display: none;
  }
  .form-box {
    border: solid 2px whitesmoke;
    padding: 5% 15%;
  }
  /*OPCIONES*/
  #opciones {
    flex-direction: column;
  }
  #opciones>* {
    width: 100% !important;
  }
  /*DINERO*/
  #dinero {
    margin: 0 10%;
    align-items: center;
    flex-direction: row-reverse;
  }
  #dinero h3 {
    display: none;
  }
  #dinero div:first-child {
    display: none;
  }
  fieldset {
    border: none;
  }
  /*COLORES*/
  #colores {
    margin: 10% 0;
  }
  /*FOOTER*/
  footer div {
    display: none;
  }
  footer img {
    display: block;
    width: 100%;
  }
}