#calendar {
  display: flex;
  flex-direction: row;
}

.day {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* makes all items the same width */
  flex: 1 1 0px;
}

.day:not(:last-child) {
  border-right: 6px solid green;
}

.day header {
  background-color: rgb(185, 72, 72);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 5px 5px 5px #aaa;
  padding: 5% 0;
  font-size: 90%;
}

.hour {
  display: flex;
  flex-direction: row;
  border: solid grey 1px;
  padding: 5%;
}

.hour:hover {
  background-color: #aaa;
}