* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

body>* {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  background-color: #000;
  color: #fff;
  justify-content: space-between;
  padding: 0 1%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 80%;
}

nav li {
  margin-left: 2%;
}

nav a {
  text-decoration: none;
  color: #aaa;
}

nav a:hover {
  color: #fff;
}

nav a:active {
  color: #272727;
}

main {
  flex-direction: row;
  align-items: stretch;
  flex-grow: 20;
}

main>* {
  flex-grow: 5;
}

main section {
  background-color: #70d451;
}

main aside {
  background-color: #818181;
  flex-grow: 1;
}

footer {
  background-color: #814c21;
}